body {
    background-color: rgb(0, 30, 38);
    color: white;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    margin: .5rem 0px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 12px;
}

.flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.center-all {
    justify-content: center;
    align-items: center;
}
.center-between {
    justify-content: space-between;
    align-items: center;
}
.center-start {
    justify-content: flex-start;
    align-items: center;
}
.h-screen {
    height: 100vh;
}
.logo-img {
    height: 35px;
    margin-right: 15px;
}
.paragraph {
    color: rgb(167, 185, 185);
}
.m-0{
    margin: 0px;
}
.p-0{
    padding: 0px!important;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mb-3 {
    margin-bottom: 30px;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}

.card {
    width: 100%;
    background: rgb(1, 42, 53);
    padding: 0px;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 40px;
}
.green,
a {
    color: #44be6d;
    text-decoration: none;
}
.bg-green{
    background-color: #44be6d;
}
.alert-success{
    background-color: #44be6d;
    border-radius: 7px;
    padding: 10px;
    margin: .1rem 0px 2rem 0px;
}
.alert-error{
    background-color: #be4444;
    border-radius: 7px;
    padding: 10px;
    margin: .1rem 0px 2rem 0px;
}
a:hover {
    text-decoration: underline;
}
.icon-title {
    font-size: 24px;
}
.text-white{
    color: white;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.button-white{
    color: white;
}
.button.button-white:hover, button.button-white:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button.button-white:focus, button.button-white:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    color: white;
    border-color: #e0e0e0;
    outline: 0;
}
@media only screen and (max-width: 500px) {
    .flex.card {
        flex-wrap: wrap;
    }
    .flex.card > * {
        width: 100% !important;
    }
}
